.form-control {
	background: var(--color-background-transparent);
	border: 1px solid var(--color-border);
	color: var(--color-primary);
    text-shadow: 0 1px 0 var(--color-border-dark);
	box-shadow: 1px solid var(--color-shadow-dark);
	font-weight: 200;
}

.form-control:focus {
	color: var(--color-primary);
    text-shadow: 0 1px 0 var(--color-border-dark);
	background-color: var(--color-background-transparent);
	/* border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25) */
}

.form-textarea {
	width: 30rem;
}

input[type=range]:focus {
	border: 0;
	box-shadow: 0 0 0 0;
}

/* estiliza o marcador móvel */

/* Chrome/Safari/Opera */
input[type=range]::-webkit-slider-thumb {
	background: var(--color-primary);
	color: var(--color-primary);
	cursor: pointer;
}

/* Firefox */
input[type=range]::-moz-range-thumb {
	background-color: var(--color-primary);
}
  
  /* IE */
  input[type=range]::-ms-thumb {
	background-color: var(--color-primary);
}
  
/* estiliza a a barra do slider */

/* Chrome/Safari/Opera */
input[type=range]::-webkit-slider-runnable-track {
	background-color: rgb(195,195,195);
	border: 1px solid var(--color-border);
	border-radius: 10px;
	cursor: pointer;
}

input[type=range]:hover::-webkit-slider-runnable-track {
	background-color: var(--color-background);
}

/* Firefox */
input[type=range]::-moz-range-track {
	background-color: var(--color-background);
}
  
  /* IE */
  input[type=range]::-ms-track {
	background-color: var(--color-background);
}