.portfolio-wrap,
.article-wrap {
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    background-color: var(--color-background-transparent);
    box-shadow: 0px 1px 0px 0px var(--color-border-light);
}

.portfolio-wrap {
    display: flex;
    justify-content: space-between;
}

.portfolio-wrap .portfolio img.thumb {
    width: 210px;
    height: 150px;
    border: 5px solid var(--color-background);
}

.portfolio-wrap figure figcaption .category {
    margin-top: 0.3rem;
    margin-bottom: 0.5rem !important;
    font-size: 0.8rem;
    font-weight: 400;
}

.portfolio-wrap figure figcaption .category::before {
    content: '\f02b';
    font: normal normal normal 1rem FontAwesome;
    color: var(--color-primary);
    text-shadow: 0 1px 0 var(--color-border-dark);
    padding-right: 0.5rem;
}

.portfolio-wrap figure figcaption .category:hover,
.portfolio-wrap figure figcaption .category:hover::before {
    color: var(--color-secondary);
    text-shadow: 0 1px 0 var(--color-border-light);
}

.portfolio-wrap figure figcaption h2 {
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
}

.portfolio-wrap figure figcaption h2 .title {
    color: var(--color-title);
    text-shadow: 0 1px 0 var(--color-border-light);
}

.portfolio-wrap figure figcaption h2 .title:hover {
    color: var(--color-primary);
    text-shadow: 0 1px 0 var(--color-border-dark);
}

.portfolio-wrap figure figcaption .subtitle {
    font-size: 0.9rem;
    margin-bottom: 0rem !important;
    margin-block-end: 0rem !important;
}

.portfolio-wrap .project-detail {
    gap: 20px;
}

.portfolio-wrap figure .full {
    width: 400px;
    border: 5px solid var(--color-background);
    margin-bottom: 1rem;
}